fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
psycopg2-binary
python-dotenv
passlib[bcrypt==4.0.1]
bcrypt==4.0.1
python-jose[cryptography]
redis
pytest
httpx
pytest-asyncio
ruff
bandit
pip-audit
prometheus-fastapi-instrumentator
email-validator
slowapi